binary: "evmosd"
home_dir: "./chain_data"
keyring_backend: "file"
passphrase: "1234567890"
seed:
  name: "seed"
  addr: "seed:26656"
genesis:
  chain_id: "step_108101-1"
  app_state:
    staking:
      params:
        bond_denom: "tenet"
        unbonding_time: "1296000s"
        max_validators: 64
    crisis:
      constant_fee:
        denom: "tenet"
    gov:
      voting_params:
        voting_period: "600s"
      deposit_params:
        min_deposit:
          - denom: "tenet"
            amount: "1000000000000000000"
accounts:
  - name: myacc
    coins:
      - 100000000tenet
validators:
  - name: validator1
    bonded: 1000000tenet
    config:
      instrumentation:
        prometheus: true
  - name: validator2
    bonded: 1000000tenet
  - name: validator3
    bonded: 1000000tenet
  - name: validator4
    bonded: 1000000tenet